<h1>Enter a new recipe!</h1>

<%= render('layouts/errors', :object => @recipe) %>


<form action="/recipes" method="post">
  <%= render('form') %>
  <button class="btn btn-success">Create Recipe</button>
</form>

<p><a href="/recipes/">Back to recipes list</a></p>
