<h1><%= @tag.name %></h1>

<p><a href="/tags/<%= @tag.id %>/edit">Edit tag</a></p>
<p><a href="/tags/<%= @tag.id %>"
  data-confirm="Foshizzle?"
  data-method="delete"
  rel="nofollow">Delete</a></p>
<p><a href="/tags">Back to Tag list</a></p>

